.projects {
  width: 100%;
}

.projects__header {
  width: 100%;
  min-width: 480px;
  padding-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.projects__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 11pt;
  font-weight: 300;
  justify-content: space-around;
}

.projects__item {
  padding: 0;
  margin: 20px 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.projects__image {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.projects__name {
  
}

.projects__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5%;
  margin: 0;
}

.projects__description__link {
  margin-bottom: 10px;
  color: #39aecf;
}

.projects__description__link:hover {
  color: #ffa040;
}

.projects__description__link:active {
  color: #ff5a40;
}

.projects__description__role {
  margin-bottom: 10px;
  font-size: 9pt;
  font-weight: 700;
  color: #5e5e5e;
}

.projects__description__info {
  
}

@media (max-width: 600px) {
  .projects__item {
    padding: 0;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .projects__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0;
  }
}
